#ul{
    color: white;
}
#hea{
    /*  type m0 for margin 0 and p0 for padding 0 */
    margin: 0;
    padding: 0;
    text-align: center;
    color: rgb(223, 196, 41);
}
#head{
    background-color: rgb(146, 84, 84);
    color:white;
}
.container{
    background-color: rgba(35, 35, 182, 0.74);
    color: white;
}
body{
   
    background-image: url(earth\ image.avif);
   background-repeat: no-repeat;
   background-size: cover;
  
   
}
.bg_clr{
    color: white;
}
#img{
    margin: 0;
    padding: 0;
  text-align: center;
}
#table{
    background-color: black;
}